p{
  font-family:Arial;
  margin-left:8px;
  margin-top:0px;
  margin-bottom:0px;
}
.document-ceo{
font-size:18px;
font-weight:bold;
color:rgb(33, 37, 41);
width:300px;
margin-bottom:0px;
line-height:23px;
}
.document-time{
font-size:14px;
color:rgb(96, 96, 96);
margin-bottom:16px;
}
.document-author{
font-size:14px;
color:rgb(96, 96, 96);
margin-bottom:16px;
}
.document-description{
font-size:14px;
color:rgb(96, 96, 96);
width:285px;
margin-bottom:106px;
}
.apple-text{
background-color:rgb(227, 65, 64);
color:white;
padding-left:16px;
padding-right:16px;
padding-top:16px;
padding-bottom:16px;
font-size:14px;
text-align:center;
margin-right:8px;
}
.shopnow{
transition: text-decoration 0.15s;
cursor:pointer;
}
.shopnow:hover{
text-decoration: underline;
}